.zebrada{
    border: solid 1px black;
    border-collapse: collapse;
    min-width: 60%
}

.zebrada td{
    border: solid 1px black;            
}

.zebrada th{
    border: solid 1px black; 
    background: #aaee88;
}

.zebrada tr:nth-child(odd) {
    background: #aaee88;
}